:root{
  --color-main: #2A8C74;
}

html{
  font-size: 24px;
  background-image: url("./static/images/background-global.png");
  background-repeat: no-repeat;
}

body {
  margin: 0;
  font-family: 'Nunito';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
